@font-face {
	font-family: "Chalkboard";
	src: url(../fonts/Chalkboard.ttf);
}

html { 
	width: 100%; 
	height:100%; 
	
}
body {
	background-image: url("../img/dark_wood.png");
	/*background-color: black;*/
    background-repeat: repeat;
    font-family:Fertigo;
    
}

.log { 
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -12.5% 0 0 -12.5%;
	width:25%;
}
.sign { 
	position: absolute;
	top: 35%;
	left: 50%;
	margin: -12.5% 0 0 -12.5%;
	width:25%;
	z-index: 26;
}
.log h1 
{ 
	color: #d91d1d; 
	text-shadow: 0 0 10px rgba(0,0,0,0.3); 
	letter-spacing:1px; 
	text-align:center; 
}

.sign h1 
{ 
	color: #d91d1d; 
	text-shadow: 0 0 10px rgba(0,0,0,0.3); 
	letter-spacing:1px; 
	text-align:center; 
}

input { 
	width: 100%; 
	margin-bottom: 2%; 
	border: none;
	outline: none;
	padding: 3%;
	font-size: 18px;
	color: #800000;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid #d91d1d;
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
} 
select{
	width: 100%; 
	margin-bottom: 2%; 
	border: none;
	outline: none;
	padding: 3%;
	font-size: 18px;
	color: #800000;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid #d91d1d;
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
input:focus { 
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); 
}

.row img{
	
	border-width:1px;
	border-style:solid;
	border-color: #ffffff;
	border-radius:50%;
	box-shadow: 5px 5px 4px 2px #1a1a1a;

}

.rowFloat{
	width:45%;
	float:left;
	text-align:center;
	text-shadow: 4px 4px 4px #000000;
}
.rowFloata{
	width:45%;
	float:right;
	text-align:center;
	text-shadow: 4px 4px 4px #000000;
}
.toggleRegForm{
	text-align: center;
	color:#ffffff;
	margin-top:3%;
}

.rowText {
	font-size:2.3vw;
	text-align:center;
	color:#ffffff;
}
.header1{
	font-size:3vw;
	text-align:center;
	color:#ffffff;
	text-shadow: 4px 4px 4px #000000;

}
.login{
  float:right;
  list-style-type:none;
  margin-top:1.7%; 
}
.log,.sign{
	position:fixed;
	z-index: 26;
}



span.toggleRegister:hover
{
	cursor: pointer;
	text-decoration: underline;
}

input:focus{
background-color: rgba(238, 9, 17, 0.6);
color: white;
}
.correct:focus{
background-color: rgba(46,230,25,0.4);
color: white;
border-color: white;
}
.team div{
	float: left;
	display: inline-block;
	color: white; 
}
.wins label{
	margin-left: 50%;
	font-size: 2vw;
}


.float{
float:left;

}
.footer{
	color: white;
	width: 40%;

}
.footer_image{
	color: white;
	width: 40%;
}
.footer_image a{
float: left;	
}
.facebook{
		background-image:url("../img/facebook.jpg" );
		background-attachment: center;
		background-position: center;
    	background-repeat:no-repeat;
    	background-size: cover; 
		padding-left:6%;
		margin-left: 2%;
		border: 1px solid white;
		border-radius: 30%;
}
.google{
		background-image:url("../img/google.jpg");
		background-attachment: center;
		background-position: center;
		background-repeat:no-repeat;
		background-size: cover; 
		padding-left:6%;
		padding-bottom: 0px;
		margin-left: 1%;
		border: 1px solid white;
		border-radius: 30%;
}
.instagram{
		background-image:url("../img/instagram.jpg"); 
		background-attachment: center;
		background-position: center;
		background-repeat:no-repeat;
		background-size: cover;
		padding-left:6%;
		padding-bottom: 0px;
		margin-left: 1%;
		border: 1px solid white;
		border-radius: 30%;
}
.skype{
		background-image:url("../img/skype.jpg"); 
		background-attachment: center;
		background-position: center;
		background-repeat:no-repeat;
		background-size: cover;
		padding-left:6%;
		padding-bottom: 0px;
		margin-left: 1%;
		border: 1px solid white;
		border-radius: 30%;
}
.youtube{
		background-image:url("../img/youtube.jpg"); 
		background-attachment: center;
		background-position: center;
		background-repeat:no-repeat;
		background-size: cover;
		padding-left:6%;
		padding-bottom: 0px;
		margin-left: 1%;
		border: 1px solid white;
		border-radius: 30%;
}
.facebook:hover,.skype:hover,.google:hover,.instagram:hover,.skype:hover,.youtube:hover{
	padding-left: 8%;
	padding-top: 2%;
	transition:0.3s;
}
.rowtext{
	font-size: 20px;
}
.white_space{
	white-space:nowrap;
}
.white_space label{
	color:#49FC96;
}
.scoreboard{
 background: url("../img/blackboard.jpg") center center  no-repeat fixed;
 padding-bottom: 3%;
 font-family: Chalkboard;
}
.wins label{
 margin-left: 3.5%;
 color: white;
 font-size: 7vw;
 float:left;
}
.WLD label{ 
 margin-left: 11%;
}
.stat label{
 color: white;
 margin-right: 20%;
 margin-left: 15%;
 font-size: 15vw;
}
.stati label{
 color: white;
 font-size: 15vw;
 margin-right: 13%;
}

.lose{
 margin-left: 5.9%;
}
.draw{
 margin-left: 7.7%;
}
.goal{
 margin-left: 10%;
}
.conGoal{
 margin-left: 20%;
}





@media screen and (max-width: 1200px){
	.rowFloat{
	width:100%;
	float:left;
	text-align:center;
	}
	.rowFloata{
		width:100%;
		float:left;
		text-align:center;
	}
	.rowText{
		font-size:3vw;
		text-align:center;
		color:#ffffff;
	}
	.log { 
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -12.5% 0 0 -12.5%;
		width:40%;
	}
	.sign { 
		position: absolute;
		top: 35%;
		left: 50%;
		margin: -12.5% 0 0 -12.5%;
		width:40%;
		height:25%;
		z-index: 26;

	}
	.rowText {
	font-size:4.5vw;
	text-align:center;
	color:#ffffff;
	}
	.header1{
	font-size:5.5vw;
	text-align:center;
	color:#ffffff;
	text-shadow: 4px 4px 4px #000000;

}


}

@media screen and (max-width: 600px){
.row img{
	
	width:50%;
}
}
